@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'normal';
    font-weight: 500;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    
    
    
}
header ul li{
    margin-left: 1.5rem;
}
header ul img{
    height: 24px;
}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
#menu-icon{
    height: 18px;
}
#user-icon{
    height: 21px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.search:hover{
    box-shadow: 1px 2px 2px 2px #f2f2f2;
}
.logo{
    height: 9rem;
    pointer-events: none;
    margin-bottom: 1rem;
}
.search{
    display: flex;
    width: 36%;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 0.6rem;
    border-radius: 30px;
    justify-content: space-evenly;
}
.search img{
    height: 22px;
}
#b{
    height: 30px;
}
.search input{
    width: 90%;
    border: none;
    margin-left: 0.9rem;
    outline: none;
    font-size: 1.2rem;
}
.buttons button{
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
}
main p span{
    color: blue;
    margin-left: 0.3rem;
}
main p{
    margin-top: 1.2rem;
    font-size: 0.9rem;
}
footer{
    background-color: #f2f2f2;
    margin-top: 14rem;
}
footer ul{
    list-style: none;
}
footer div p{
    padding: 0.4rem 1.1rem;
}
.bottom-menu{
    display: flex;
    justify-content: space-between;
    
}
footer div ul{
    display: flex;
    padding:0.4rem 0;
    
}
footer div ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}